.half-and-half-section {
  min-height: 450px;  

  .colored-back {
    
  }

  .content {

  }

  .half-and-half-text {
    padding-right:26px;
    padding-left:50px;
  }

  .half-and-half-image {
    margin-top:0;
    position: relative;
  }

  .side-x-side-carousel {
    width:100%;
    height:auto;

    .slick-track {
      width:100%;
      display: flex;
      align-items: center;
      align-content: center;
    }

    img {
      width:100%;
    }
  }
}



// 1024px And Below
@media screen and (max-width: 1024px){
  .half-and-half-section {

    .half-and-half-text {
      padding-left:0px;
    }

    .half-and-half-image {
      padding-right:0px;
    }
  }
}

// 767px And Below
@media screen and (max-width: 767px){

  .half-and-half-section {

    .content {
      padding-top:40px;
    }

    .half-and-half-text {
      padding-left:0px;
      padding-right:0px;
    }

    .half-and-half-image {
      margin-top:40px;
      padding-left:0px;
      padding-right:0px;
    }
  }
}
