$black:#000000;$white:#FFFFFF;$gray:#4a5155;$offWhite:#f2f3f4;$teal1:#0A3A4B;$teal2:#30A8B6;$teal3:#6BCAD5;$teal4:#B5EAF1;$yellow1:#EED446;$purple1:#8B3057;$purple2:#ED1558;$blue1:#003556;$blue2:#64C3FF;$blue3:#afe0ff;$blue4:#e4f4fd;$red1:#540505;$red2:#7F0B0B;$red3:#C11717;$red4:#E51C20;

.news-preview-section {

  h2 {
    text-align: center;
  }

  .single-news-preview {

  }

  .all-news-button-area {
    width:100%;
    height:auto;
    text-align: center;
    margin-top:50px;

    .seemax-button {
      display: inline-block;
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){


}
